body{
    background-image:  url(food.jpg) ;
}

.nav{
    background-color: white; 
    display: flex;
    width: 1270px;
    margin-right: 10px;
}
.header{
    font-size: 50px;
}
a{
    text-decoration: none;
    color: black;
}
.lists{
    list-style: none;
    display: flex;
    
}
.login button{
         height: 25px;
         width: 100px;
         border-radius: 20px;
         color: white;
         background-color: green;
         border-color :  green;
}
input{
    height: 20px;
    width: 70px;
    border-radius: 25px;
    margin-right: 10px;
}
.body{
    background-color: white;
    margin-top: 60px;
    margin-left: 130px;
    width: 1000px;
    height: 550px;
}
.title{
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
}
.body_content {
    margin-top: 50px;
    margin-left: 50px;
}
.inputs{
    width: 150px;
}
p{
    margin-top: 40px;
}
.details_login{
    display: flex;
}
.login_details2{
      margin-left: 100px;
}
select{
    height: 25px;
    width: 160px;
    border-radius: 25px;
    margin-right: 10px;
}
.phone_number{
    height: 24px;
    width: 160px;
    border-radius: 25px;
    margin-right: 10px;
}
.dob{
    height: 24px;
    width: 160px;
    border-radius: 25px;
    margin-right: 10px;
}
.signup{
    text-align: center;
}
.signup button{
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color: green;
    border-color: green;
    color: white;
}